.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
}

.containerbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li {
  float: left;
  width: 50%;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(200, 200, 200, 0.25);
  color: #ccc;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  background: #333;
  color: #fff;
}

.tab-group .active a {
  background: #007bff;
  color: #fff;
}


.tab-content > div:last-child {
  display:none;
}

.disabled {
  display: none;
}

.frost-glass {
  background-color: rgba(200, 200, 200, 0.15);
  backdrop-filter: blur(10px);
  color:#282c34;
}

.AlertPrompt
{
  display: 'block';
  width: 700;
  padding: 30
}

.alert-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.alert-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-button {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* 
.button{
  background-color: #ffeba7;
  color: #102770;  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 20px;
  box-shadow: 0 8px 24px 0 #0d1f5c;
  transition: transform 0.2s, box-shadow 0.2s;
}
.button:active,.button:hover{
  transform: translate(4px 4px );
  box-shadow: 0 8px 8px 0; 
}*/
