.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.containerbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li {
  float: left;
  width: 50%;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(200, 200, 200, 0.25);
  color: #ccc;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  background: #333;
  color: #fff;
}

.tab-group .active a {
  background: #007bff;
  color: #fff;
}


.tab-content > div:last-child {
  display:none;
}

.disabled {
  display: none;
}

.frost-glass {
  background-color: rgba(200, 200, 200, 0.15);
  backdrop-filter: blur(10px);
  color:#282c34;
}