.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px ;
    border: 1px 0px 0px 0px solid #ccc;
  box-shadow: 0 4px 8px rgba(155, 154, 154, 0.5);
  }
  
  .table th {
    background-color: #2a2b38;
    color:#c4c3ca;
    font-weight: bold;
    text-align: center;
  }
  
  .table td {
    text-align: center;
    background-color: #353646;
    color:#c4c3ca;
  }
  
  .table .progress-icon {
    display: flex;
    align-items: center;
  }
  
  .table .progress-icon svg {
    margin-left: 5px;
    color: green;
  }

  /* tr:hover {
    background-color: #f0f0f0;
  } */
  .highlight {
    background-color: yellow;
  }
  